# TODO use normal environment variables; get them with System.getenv('...')
export ORG_GRADLE_PROJECT_mavenCentralUsername=$(cat ../Podval/Keys/mavenCentralUsername)
export ORG_GRADLE_PROJECT_mavenCentralPassword=$(cat ../Podval/Keys/mavenCentralPassword)
export ORG_GRADLE_PROJECT_signingKey=$(cat ../Podval/Keys/gnupg.dub-podval-org.key)
export ORG_GRADLE_PROJECT_signingPassword=$(cat ../Podval/Keys/gnupg.dub-podval-org.password)
export GRADLE_PUBLISH_KEY=$(cat ../Podval/Keys/gradle.publish.key)
export GRADLE_PUBLISH_SECRET=$(cat ../Podval/Keys/gradle.publish.secret)
