export GIT_AUTHOR_EMAIL="dub@opentorah.org"
export GIT_COMMITTER_EMAIL="dub@opentorah.org"

export CLOUD_RUN_DEPLOY_KEY=$(cat ./Keys/cloud-run-deploy_alter-rebbe-2.json)

# TODO use normal environment variables; get them with System.getenv('...')
export ORG_GRADLE_PROJECT_mavenCentralUsername=$(cat ../Podval/Keys/mavenCentralUsername)
export ORG_GRADLE_PROJECT_mavenCentralPassword=$(cat ../Podval/Keys/mavenCentralPassword)
export ORG_GRADLE_PROJECT_signingKey=$(cat ./Keys/gnupg.dub-opentorah-org.key)
export ORG_GRADLE_PROJECT_signingPassword=$(cat ./Keys/gnupg.dub-opentorah-org.password)

export RCLONE_CONFIG="./Keys/rclone.conf"

export DEVPOD_CONTEXT="opentorah"
export DEVPOD_IDE="intellij"
# suppress JetBrains "Trust" dialog when opening a workspace for the first time
export DEVPOD_WORKSPACE_ENV="REMOTE_DEV_TRUST_PROJECTS=1"

export DEVPOD_PROVIDER_SSH_HOST="box"

# export GOOGLE_APPLICATION_CREDENTIALS="./devpod.json"
export DEVPOD_PROVIDER_GCLOUD_PROJECT="opentorah-devpod"
# devpod-vm or devpod?
export DEVPOD_PROVIDER_GCLOUD_SERVICE_ACCOUNT="devpod-vm@opentorah-devpod.iam.gserviceaccount.com"
export DEVPOD_PROVIDER_GCLOUD_ZONE="us-east4-b"
export DEVPOD_PROVIDER_GCLOUD_MACHINE_TYPE="c2-standard-8"
export DEVPOD_PROVIDER_GCLOUD_DISK_SIZE=5
