; email address is overridden in the .envrc files -
; but IntelliJ does not pick it up...

[includeIf "gitdir:~/OpenTorah/"]
path = ~/OpenTorah/.gitconfig

[includeIf "gitdir:~/CognoMath/"]
path = ~/CognoMath/.gitconfig
